In [1]:
import pandas as pd

In [2]:
matrix = pd.DataFrame()
matrix['C1'] = [2,4,1]
matrix['C2'] = [1,1,2]
matrix['C3'] = [3,2,-3]
matrix

   C1  C2  C3
0   2   1   3
1   4   1   2
2   1   2  -3

In [3]:
matrix2 = pd.DataFrame()
matrix2['C1'] = [2,4]
matrix2['C2'] = [1,3]

In [4]:
def det2(matrix):
    if matrix.shape == (2,2):
        r = matrix.shape[0]
        a = matrix.loc[r-2][r-2]
        b = matrix.loc[r-2][r-1]
        c = matrix.loc[r-1][r-2]
        d = matrix.loc[r-1][r-1]
        return a*d - b*c
    else:
        print('Not a 2x2 matrix.')

In [5]:
det2(matrix2)

2

In [6]:
def det32(matrix):
    if matrix.shape == (3,3):
        a = matrix.loc[0][0]
        b = matrix.loc[0][1]
        c = matrix.loc[0][2]
        d = matrix.loc[1][0]
        e = matrix.loc[1][1]
        f = matrix.loc[1][2]
        g = matrix.loc[2][0]
        h = matrix.loc[2][1]
        i = matrix.loc[2][2]
        pt1 = a*(e*i-f*h)
        pt2 = b*(d*i-f*g)
        pt3 = c*(d*h-e*g)
        return pt1 - pt2 + pt3
    else:
        print('Not a 3x3 matrix.')

In [7]:
det32(matrix)

21

In [8]:
x = matrix.shape
num = x[0]
num
count1 = 0
count2 = 0

In [9]:
def det3(mat):
    if mat.shape != (3,3):
        print('Not a 3x3 matrix.')
        return None
    cos = list(mat.loc[0])
    cofs = []
    inc = 0
    for item in cos:
        if inc % 2 == 0:
            cofs.append(item)
        if inc % 2 == 1:
            cofs.append(-item)
        inc += 1
    d = []
    count2 = 0
    for a in cofs:
        dets = []
        count = 0
        while count < mat.shape[0]:
            if count != count2:
                dets.append(list(mat.iloc[1:,count]))
            count += 1
        d.append(dets)
        count2 += 1
    d2 = []
    for item in d:
        m2 = pd.DataFrame()
        m2['Col1'] = item[0]
        m2['Col2'] = item[1]
        d2.append(det2(m2))
    final_det = 0
    count3 = 0
    for item in cofs:
        final_det += item*d2[count3]
        count3 += 1
    return final_det

In [10]:
det3(matrix)

21

In [60]:
r = 3
count = 0
cofacs = []
while count < r:
    cofacs.append(matrix.loc[0][count])
    count += 1
cofacs

[1, 7, 2]

In [61]:
mat2 = pd.DataFrame()
mat2['C1'] = [4,-1,2,0]
mat2['C2'] = [1,0,0,0]
mat2['C3'] = [2,1,-1,0]
mat2['C4'] = [1,-5,2,2]
mat2

   C1  C2  C3  C4
0   4   1   2   1
1  -1   0   1  -5
2   2   0  -1   2
3   0   0   0   2

In [62]:
cos = list(mat2.loc[0])
cofs = []

inc = 0
for item in cos:
    if inc % 2 == 0:
        cofs.append(item)
    if inc % 2 == 1:
        cofs.append(-item)
    inc += 1
    
cofs

[4, -1, 2, -1]

In [63]:
d = []
for a in cofs:
    dets = []
    count = 0
    while count < mat2.shape[0]:
        if count != cofs.index(a):
            dets.append(list(mat2.iloc[1:,count]))
        count += 1
    d.append(dets)
print(d)

[[[0, 0, 0], [1, -1, 0], [-5, 2, 2]], [[-1, 2, 0], [1, -1, 0], [-5, 2, 2]], [[-1, 2, 0], [0, 0, 0], [-5, 2, 2]], [[-1, 2, 0], [1, -1, 0], [-5, 2, 2]]]

In [64]:
matrix = pd.DataFrame()
matrix['C1'] = [1,2,4]
matrix['C2'] = [7,1,6]
matrix['C3'] = [2,7,0]
def d24(matx):
    return det3(matx)
d24(matrix)

170

In [65]:
for item in d:
    print(item)
mat2.shape

[[0, 0, 0], [1, -1, 0], [-5, 2, 2]]
[[-1, 2, 0], [1, -1, 0], [-5, 2, 2]]
[[-1, 2, 0], [0, 0, 0], [-5, 2, 2]]
[[-1, 2, 0], [1, -1, 0], [-5, 2, 2]]

(4, 4)

In [72]:
def det4(mat):
    if mat.shape != (4, 4):
        print('Not a 4x4 matrix.')
        return None
    cos = list(mat.loc[0])
    cofs = []
    inc = 0
    for item in cos:
        if inc % 2 == 0:
            cofs.append(item)
        if inc % 2 == 1:
            cofs.append(-item)
        inc += 1
    d = []
    count2 = 0
    for a in cofs:
        dets = []
        count = 0
        while count < mat.shape[0]:
            if count != count2:
                dets.append(list(mat.iloc[1:,count]))
            count += 1
        d.append(dets)
        count2 += 1
    d3 = []
    for item in d:
        m2 = pd.DataFrame()
        m2['Col1'] = item[0]
        m2['Col2'] = item[1]
        m2['Col3'] = item[2]
        d3.append(det3(m2))
    final_det = 0
    count3 = 0
    for item in cofs:
        final_det += item*d3[count3]
        count3 += 1
    return final_det

In [73]:
det4(mat2)

2

In [74]:
def det5(mat):
    if mat.shape != (5, 5):
        print('Not a 5x5 matrix.')
        return None
    cos = list(mat.loc[0])
    cofs = []
    inc = 0
    for item in cos:
        if inc % 2 == 0:
            cofs.append(item)
        if inc % 2 == 1:
            cofs.append(-item)
        inc += 1
    d = []
    count2 = 0
    for a in cofs:
        dets = []
        count = 0
        while count < mat.shape[0]:
            if count != count2:
                dets.append(list(mat.iloc[1:,count]))
            count += 1
        d.append(dets)
        count2 += 1
    d4 = []
    for item in d:
        m2 = pd.DataFrame()
        m2['Col1'] = item[0]
        m2['Col2'] = item[1]
        m2['Col3'] = item[2]
        m2['Col4'] = item[3]
        d4.append(det4(m2))
    final_det = 0
    count3 = 0
    for item in cofs:
        final_det += item*d4[count3]
        count3 += 1
    return final_det

In [75]:
test5 = pd.DataFrame()
test5['Col1'] = [3,-2,0,-1,0]
test5['Col2'] = [2,4,-1,2,0]
test5['Col3'] = [0,1,0,0,0]
test5['Col4'] = [1,2,1,-1,0]
test5['Col5'] = [3,1,-5,2,2]
test5

   Col1  Col2  Col3  Col4  Col5
0     3     2     0     1     3
1    -2     4     1     2     1
2     0    -1     0     1    -5
3    -1     2     0    -1     2
4     0     0     0     0     2

In [76]:
det5(test5)

12

In [71]:
test4 = pd.DataFrame()
test4['Col1'] = [4,-1,2,0]
test4['Col2'] = [1,0,0,0]
test4['Col3'] = [2,1,-1,0]
test4['Col4'] = [1,-5,2,2]
det4(test4)

[4, -1, 2, -1]
[0, -2, 0, 0]
[[[0, 0, 0], [1, -1, 0], [-5, 2, 2]], [[-1, 2, 0], [1, -1, 0], [-5, 2, 2]], [[-1, 2, 0], [0, 0, 0], [-5, 2, 2]], [[-1, 2, 0], [0, 0, 0], [1, -1, 0]]]

2

In [81]:
def det6(mat):
    if mat.shape != (6, 6):
        print('Not a 6x6 matrix.')
        return None
    cos = list(mat.loc[0])
    cofs = []
    inc = 0
    for item in cos:
        if inc % 2 == 0:
            cofs.append(item)
        if inc % 2 == 1:
            cofs.append(-item)
        inc += 1
    d = []
    count2 = 0
    for a in cofs:
        dets = []
        count = 0
        while count < mat.shape[0]:
            if count != count2:
                dets.append(list(mat.iloc[1:,count]))
            count += 1
        d.append(dets)
        count2 += 1
    d5 = []
    for item in d:
        m2 = pd.DataFrame()
        m2['Col1'] = item[0]
        m2['Col2'] = item[1]
        m2['Col3'] = item[2]
        m2['Col4'] = item[3]
        m2['Col5'] = item[4]
        d5.append(det5(m2))
    final_det = 0
    count3 = 0
    for item in cofs:
        final_det += item*d5[count3]
        count3 += 1
    return final_det

In [82]:
test6 = pd.DataFrame()
test6['Col1'] = [3,-2,0,-1,0,12]
test6['Col2'] = [2,4,-1,2,0,5]
test6['Col3'] = [0,1,0,0,0,3]
test6['Col4'] = [1,2,1,-1,0,7]
test6['Col5'] = [3,1,-5,2,2,-8]
test6['Col6'] = [3,1,-5,2,2,19]
test6

   Col1  Col2  Col3  Col4  Col5  Col6
0     3     2     0     1     3     3
1    -2     4     1     2     1     1
2     0    -1     0     1    -5    -5
3    -1     2     0    -1     2     2
4     0     0     0     0     2     2
5    12     5     3     7    -8    19

In [83]:
det6(test6)

324