# Recursive Determinant Function

In [64]:
import pandas as pd
import numpy as np

## Function

In [81]:
def determinant(mat):
    
    if mat.shape[0] != mat.shape[1]:
        print("This is not a square matrix.")
        return None
    
    # calculation for 2x2 matrix
    if mat.shape == (2,2):
        r = mat.shape[0]
        a = mat.loc[r-2][r-2]
        b = mat.loc[r-2][r-1]
        c = mat.loc[r-1][r-2]
        d = mat.loc[r-1][r-1]
        return a*d - b*c
    
    cos = list(mat.loc[0]) # creates a list that is the first row of the given matrix
    cofs = []
    inc = 0
    for item in cos: # replicates cos to cofs with every other sign being opposite
        if inc % 2 == 0:
            cofs.append(item)
        if inc % 2 == 1:
            cofs.append(-item)
        inc += 1
        
    d = []
    count2 = 0
    for a in cofs:
        dets = []
        count = 0
        while count < mat.shape[0]: # gets the corresponding matrix to the element in cofs
            if count != count2:
                dets.append(list(mat.iloc[1:,count]))
            count += 1
        d.append(dets)
        count2 += 1
    d2 = []
    for item in d:
        m2 = pd.DataFrame()
        num = 0
        for col in item:
            name = 'Col' + str(num)
            m2[name] = item[num]
            num += 1
        if m2.shape[0] >= 2: # gets the determinant of each matrix corresponding to each cofactor
            d2.append(determinant(m2))
        else:
            print("Error.")
    final_det = 0
    count3 = 0
    for item in cofs: # multiplies each cofactor in cofs by the coressponding determinant and adds them all
        final_det += item*d2[count3]
        count3 += 1
    return final_det

## 2x2 Matrix Example

In [78]:
mat2 = pd.DataFrame()
mat2['C1'] = [2,4]
mat2['C2'] = [1,3]
mat2

   C1  C2
0   2   1
1   4   3

In [79]:
determinant(mat2)

2

In [80]:
np.linalg.det(mat2)

2.0

## 3x3 Matrix Example

In [56]:
mat3 = pd.DataFrame()
mat3['C1'] = [2,4,1]
mat3['C2'] = [1,1,2]
mat3['C3'] = [3,2,-3]
mat3

   C1  C2  C3
0   2   1   3
1   4   1   2
2   1   2  -3

In [57]:
determinant(mat3)

21

In [71]:
np.linalg.det(mat3)

21.0

## 4x4 Matrix Example

In [58]:
mat4 = pd.DataFrame()
mat4['C1'] = [4,-1,2,0]
mat4['C2'] = [1,0,0,0]
mat4['C3'] = [2,1,-1,0]
mat4['C4'] = [1,-5,2,2]
mat4

   C1  C2  C3  C4
0   4   1   2   1
1  -1   0   1  -5
2   2   0  -1   2
3   0   0   0   2

In [59]:
determinant(mat4)

2

In [70]:
np.linalg.det(mat4)

2.0

## 5x5 Matrix Example

In [60]:
mat5 = pd.DataFrame()
mat5['Col1'] = [3,-2,0,-1,0]
mat5['Col2'] = [2,4,-1,2,0]
mat5['Col3'] = [0,1,0,0,0]
mat5['Col4'] = [1,2,1,-1,0]
mat5['Col5'] = [3,1,-5,2,2]
mat5

   Col1  Col2  Col3  Col4  Col5
0     3     2     0     1     3
1    -2     4     1     2     1
2     0    -1     0     1    -5
3    -1     2     0    -1     2
4     0     0     0     0     2

In [61]:
determinant(mat5)

12

In [69]:
np.linalg.det(mat5)

12.000000000000005

## 6x6 Matrix Example

In [62]:
mat6 = pd.DataFrame()
mat6['Col1'] = [3,-2,0,-1,0,12]
mat6['Col2'] = [2,4,-1,2,0,5]
mat6['Col3'] = [0,1,0,0,0,3]
mat6['Col4'] = [1,2,1,-1,0,7]
mat6['Col5'] = [3,1,-5,2,2,-8]
mat6['Col6'] = [3,1,-5,2,2,19]
mat6

   Col1  Col2  Col3  Col4  Col5  Col6
0     3     2     0     1     3     3
1    -2     4     1     2     1     1
2     0    -1     0     1    -5    -5
3    -1     2     0    -1     2     2
4     0     0     0     0     2     2
5    12     5     3     7    -8    19

In [63]:
determinant(mat6)

324

In [68]:
np.linalg.det(mat6)

323.9999999999999