# Test
## This notebook tests each function from the Linear library.

In [2]:
# imports 
import pandas as pd 
import numpy as np
import Linear

In [2]:
# Add Matrices 
a = pd.DataFrame([[3,2,5],[11,2,8]])
b = pd.DataFrame([[2,1,6],[4,0,4]])
Linear.add(a,b)

    0  1   2
0   5  3  11
1  15  2  12

In [7]:
ax = pd.DataFrame([[3,2,5,7],[11,2,8]])
bx = pd.DataFrame([[2,1,6],[4,0,4]])
Linear.add(ax,bx)

These matrices are not the same size. You cannot add them.

In [8]:
# Multiply Matrices 
c = pd.DataFrame([[1,9],[10,2]])
d = pd.DataFrame([[3,5],[7,4]])
Linear.multiply(c,d)

   Col 1  Col 2
0     66     41
1     44     58

In [9]:
cx = pd.DataFrame([[1,9,7],[10,2]])
dx = pd.DataFrame([[3,5],[7,4,1]])
Linear.multiply(cx,dx)

These matrices cannot be multiplied because the number of columns of the first matrix is not equal to the number of rows of the second matrix.

In [3]:
# 2x2 Determinant
m2 = pd.DataFrame([[1,2],[3,4]])
Linear.determinant(m2)

-2

In [4]:
np.linalg.det(m2)

-2.0000000000000004

In [5]:
m2x = pd.DataFrame([[1,2],[3,4,5]])
Linear.determinant(m2x)

Error: This is not a square matrix.

In [7]:
# 3x3 Determinant 
m3 = pd.DataFrame([[3,7,12],[1,4,9],[15,5,0]])
Linear.determinant(m3)

150

In [8]:
np.linalg.det(m3)

150.00000000000009

In [9]:
# 4x4 Determinant 
m4 = pd.DataFrame([[3,7,2,1],[1,4,9,3],[5,5,0,6],[8,3,2,7]]) 
Linear.determinant(m4)

-1215

In [10]:
np.linalg.det(m4)

-1215.0

In [11]:
# 5x5 Determinant 
m5 = pd.DataFrame([[3,7,12,1,1],[1,4,9,5,13],[2,5,0,6,9],[2,11,8,1,4],[1,2,3,4,5]])
Linear.determinant(m5)

-3161

In [12]:
np.linalg.det(m5)

-3161.000000000001

In [14]:
# 6x6 Determinant 
m6 = pd.DataFrame([[3,7,12,1,1,4],[1,4,9,5,13,2],[2,5,0,6,9,14],[2,11,8,1,4,9],[1,2,3,4,5,6],[6,9,12,3,1,0]])
Linear.determinant(m6)

39674

In [15]:
np.linalg.det(m6)

39673.99999999996